body{
    background-color:#F5F2EE;
    font-family: 'Roboto';
    color:black
}

img{
    height: 200px;
    width: 350px;
    margin-right: 10px;
    margin-left: 10px;
}

divclass{
    style="width:15%";
    
    
}
